body{
    background-color: #b0ccfc;
    text-align: -webkit-center;
    margin-top:30px ;
}
table{
    width: 550px;
    height: 300px;
    background-color: white;
    /*align-items: center;*/
}
.th1{
    padding: 10px;
    background-color: #ff7c26;
    color: #fff;
    font-size: larger;

}
.sothich{
    vertical-align: top;
    text-align: right;
    color: 	#0000FF;
}
.hovaten{
    width: 250px;
}
.mauchu{
    color: 	#0000FF;
}
.nutcuoi{

  }