body {
    background: white;
}

main {
    background: white;
    margin: 50px 0;
    padding: 10px;
}

.center {
    margin: 0 auto; /* Căn giữa block element */
    width: 50%; /* Phải thiết lập width */
    background-color:rgb(00,66,99);
    padding: 10px;
    color: white;
}
.anh{
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 50%;
    margin-left: 321px;
}
.text{
    width: fit-content;
    height: fit-content;
    margin-left: 353px;
}